body {
    margin: 0;
    display: flex;
    align-items: top;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: url(https://gagaru.club/uploads/posts/2023-06/1685826893_gagaru-club-p-zimnii-minimalizm-fon-2.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    
    }    
    
    section {

        max-width: 60vh;
        position: relative;
        background-color: transparent;
     border: 2px solid rgb(255, 255, 255);
     border-radius: 30px;
     backdrop-filter: blur(9px);
     justify-content: center;
     align-items: center;
     padding: 2rem 3rem;
     color: rgb(12, 46, 85);
    }

   h1 {
text-align: right;
font-size: 12px;
color: rgba(0, 0, 255, 0.115)(12, 46, 85);


   }

   h2 {
    text-align: center; 

}

   p {

    text-align: justify;

   }

   img {

    position: relative;
    margin-left: 20vh;
   

   }
   
   span {

    font-size: 20px;

   }

   